---
layout: default
---

<center>🎁🎁🎁</center>

<header>
  <h1 class="tc lh-solid ma0 mt5 mb6">
    <span class="f2 fw4 serif tracked">AYCHLOVE<br /></span>
    <span class="f4 fw3 sans-serif ttu tracked">AYCHLOVE is a program by AYCH inc (https://aychome.github.io/). The program is presented in simple approach, and this text version can tell you that how AYCHLOVE participates in social development program. </br><center></br>🎁🎁 ===::: Jean Wallet, the founder :::=== 🎁🎁</center></br></br></br>🏆"leadwise" - 🏆"managewell"🏆</span>
  </h1>
</header>

{% include toc.html %}
{% include toc-entry.html %}

{% include aychlove.html %}

<footer class="sans-serif f6 mt6 tc">
  <a
    class="link gray dim"
    href="{{ site.url }}/electronic_distribution_agreement/"
    >Copyright and Distribution Agreement</a
  ><br />
  <a class="link gray dim" href="{{ site.github_url }}">© 2020 AYCH inc for AYCHLOVE program | Privacy | Terms | COC | AYCHStatus(https://aychome.github.io/)</a>
</footer>
